<% provide(:title, "Weekly") %>
<div class=" flex flex-col items-center justify-center w-full mt-5 text-center">
  <% if current_user&.admin? %>
    <%= week_calendar(number_of_weeks: 1, events: @reservations, attribute: :date) do |date, reservations| %>
      <div>
        <%= date %>
        <% if reservations.any? %>
          <div><%= link_to "Check Reservations", reservations_by_date_path(date: date), class: "text-white py-1 px-2 rounded bg-emerald-900 text-sm" %></div>
        <% else %>
          <p class="text-gray-500">No reservations for this date.</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= week_calendar(number_of_weeks: 1, events: @availabilities, attribute: :date) do |date, availabilities| %>
      <div>
        <%= date %>
        <% if availabilities.any? %>
          <div><%= link_to "Check Availability", book_date_path(date: date), class: "text-white py-1 px-2 rounded bg-emerald-900 text-sm" %></div>
        <% else %>
          <p class="text-gray-500">No availabilities for this date.</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
