<h1>Edit Time Slot</h1>
<%= form_with(model: @time_slot, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, { ampm: true }, step: 1.hour %>
  </div>
  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, { ampm: true }, step: 1.hour %>
  </div>
  <div class="field">
    <%= form.label :max_tables %>
    <%= form.number_field :max_tables %>
  </div>
  <div class="actions">
    <%= form.submit 'Update Time Slot' %>
  </div>
<% end %>
<%= link_to 'Back to Time Slots', static_pages_home_path %>
