<% provide(:title, "Edit Reservation") %>
<div class="flex justify-center items-center" style="height: calc(100vh - 64px);">
  <div>
    <h1 class="text-4xl font-bold mb-4">Edit Reservation</h1>
    <%= form_with(model: @reservation, local: true, html: { class: "flex flex-col gap-2 min-w-96" }) do |form| %>
      <%= form.label :user_id, "User ID" %>
      <%= form.text_field :user_id, value: @reservation.user_id%>
      <%= form.label :table_id, "Table ID" %>
      <%= form.text_field :table_id, value: @reservation.table_id %>
      <%= form.label :time_slot_id, "Time Slot ID" %>
      <%= form.text_field :time_slot_id, value: @reservation.time_slot_id %>
      <%= form.label :availability_id, "Availability ID" %>
      <%= form.text_field :availability_id, value: @reservation.availability_id %>
      <%= form.label :date, "Date" %>
      <%= form.date_field :date, value: @reservation.date %>
      <%= form.label :status, "Status" %>
      <%= form.select :status, options_for_select([ "confirmed", "cancelled"], @reservation.status), {} %>
      <%= form.label :number_of_people %>
      <%= form.number_field :number_of_people, in: 1..@reservation.table.max_capacity, step: 1, min: 1, max: @reservation.table.max_capacity %>
      <div class="actions">
        <%= form.submit "Submit", class: "bg-emerald-900 rounded py-2.5 text-white font-bold w-full" %>
      </div>
    <% end %>
    <div class="mt-4">
      <%= link_to 'Back to Reservations', reservations_path, class: "bg-gray-900 rounded py-2.5 text-white font-bold w-full block text-center" %>
    </div>
  </div>
</div>