<header class="flex justify-between items-center px-12 py-4 bg-emerald-950 text-white sticky top-0">
  <%= link_to "Booking App", root_path, id: "logo", :class => "uppercase tracking-[-1px] text-white font-bold text-2xl" %>
  <nav>
    <ul class="flex gap-8">
      <% if logged_in? %>
        <ul class="flex gap-4">
          <li><%= link_to "Timeslots", time_slots_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        </ul>
      <% else %>
        <%= link_to "Log In", login_path %>
      <% end %>
    </ul>
  </nav>
</header>